
body {
	background-image: url(./images/wallpaper.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: 100% 100%;
	padding:0;
	margin: 0;
}


header
{
	font-family: 'Noto Sans JP', sans-serif;
	top: 0;
	position: fixed;
	color: rgb(255, 255, 255);
	font-size: 10px;
	text-align: center;
	position: fixed;
	background-color: black;
	width: 100%;
	padding:0;
	height: 17px;
	border-radius: 20px 20px 20px 20px;
}


#Menu
{
	width: 100%;
	height: 35px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 17px;
	overflow: hidden;
	background-color: #ff9633;
	box-shadow: 0px 0 7px 0 rgba(77, 77, 77, 0.7);
	z-index: 1;
	border-radius: 20px 20px 20px 20px;
	border: 5px solid black;
	position: fixed;
}

/*list element */
li a {
	color: rgb(0, 0, 0);
	letter-spacing: 2px;
	padding: 8px 16px;
	text-decoration: none;
	font-family: 'Press Start 2P', cursive;
	float: left;
	cursor: pointer;
	font-size: 11px;
  }	
  
li a:hover {  	color: rgb(255, 255, 255);
}
  
li a:active{	box-shadow: 0 5px rgb(184, 184, 184);	transform: translateY(4px);
}


#hello{
	float: right; 
	cursor:text;
}
#hello:hover {  
	color: rgb(0, 0, 0);
}
#hello:active{
	box-shadow: none;
	transform: none;
}

#Welcome{
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	font-size: 50px;
	letter-spacing: 5px;
	-webkit-animation: fadein 1s;
	animation: fadein 1s;
}

.glow {
	font-size: 50px;
	color: #fff;
	text-align: center;
	animation: glow 1s ease-in-out infinite alternate;
}
  

  @keyframes glow {
	from {
	  text-shadow: 0 0 2px #fff, 0 0 5px #dadada;
	}
	to {
	  text-shadow: 0 0 5px #fff, 0 0 8px #dadada;
	}
  }


#s1, #s2, #s3, #newGame, #register_submit, #reset_submit, #login_submit, #reset_login{
	padding: 10px 20px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #fa4756;
	border: none;
	border-radius: 30px;
	box-shadow: 0 9px rgba(129, 129, 129, 0.555);
	font-family: 'Press Start 2P', cursive;
	border: 5px solid rgb(255, 255, 255);
}

#toRegister,#toLogin {
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #fa4756;
	border: none;
	border-radius: 30px;
	box-shadow: 0 9px rgba(129, 129, 129, 0.555);
	font-family: 'Press Start 2P', cursive;
	border: 5px solid rgb(255, 255, 255);
	width: 20%;
	padding: 10px;
  }
  
  #toRegister:hover ,#toLogin:hover, #register_submit:hover, #reset_submit:hover, #login_submit:hover, #reset_login:hover, #s1:hover, #s2:hover, #s3:hover, #newGame:hover {background-color: #ffaaaf;}
  
  #toRegister:active ,#toLogin:active, #register_submit:active, #reset_submit:active, #login_submit:active, #reset_login:active , #s1:active, #s2:active, #s3:active, #newGame:active{
	box-shadow: 0 5px #666;
	transform: translateY(4px);
	background-color: #ffaaaf;
  }

  h1{
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: x-large;
	letter-spacing: 5px; 
	-webkit-animation: fadein 1s;
	animation: fadein 1s;
	padding: 25px;
  }

  h5{
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 12px; 
	padding: 0;
  }


  

  #signupForm, #loginForm, #settingsForm{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: rgb(189, 242, 255);
	border: 5px solid rgb(255, 255, 255);
	border-radius: 20px 20px;
	max-width: 50%;
	margin: auto;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Noto Sans JP', sans-serif;
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;

  }



  /* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
  }
	
  @keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
	span.psw {
	   display: block;
	   float: none;
	}
	.cancelbtn {
	   width: 100%;
	}
  }

#username, #fullname, #dateofbirth, #email, #password, #confirm_password, #loginuser, #loginpassword{
	width: 95%;
	margin: 1px 0;
	box-sizing: border-box;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	border-radius: 14px;
	text-align: center;
	height: 25px;
	font-size: 14px;

}
#monsterquantity, #rangeduration{
	width: 30%;
	padding: 5px 5px;
	margin: 2px 0;
	box-sizing: border-box;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.623);
	height: 25px;
	font-size: 14px;
}

#username:hover, #fullname:hover, #dateofbirth:hover, #email:hover, #password:hover, #confirm_password:hover, #loginuser:hover, #loginpassword:hover, input[type=color]:hover, #monsterquantity:hover, #rangeduration:hover
{
	border-color: rgba(0, 0, 0);
	background-color: rgba(255, 255, 255, 0.678);
}


input[type=color]{
	width: 10%;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	height: 30px;
}



label.error {
	display: inline;
	color: red;
	font-size: 14px;
	font-weight: bold;
}

label.error {
	display: block;
	margin-left: 1em;
	width: auto;
}


  .slider {
	-webkit-appearance: none;
	width: 50%;
	height: 5px;
	border-radius: 5px;
	background: #c9c9c9;
	outline: none;
	opacity: 0.9;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  
  .slider:hover {
	opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 23px;
	height: 24px;
	border: 0;
	border-radius: 50%;
	background-image: url('./images/sliderpacman.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
  }
  
.slider::-moz-range-thumb {
	width: 23px;
	height: 24px;
	border: 0;
	border-radius: 50%;
	background-image: url('./images/sliderpacman.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}




#About {
	position: fixed; /*Stay in place */
	z-index: 1; /*Sit on top*/
	padding-top: 100px; /* Location of the box */
	padding-bottom: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* About's animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}
  
@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* Content inside modal dialog */
#aboutContent{
	/* Makes modal come from top to bottom */
	position: relative;
	font-family: 'Noto Sans JP', sans-serif;
	margin: auto;
	padding: 20px;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	height: 100%;
	background-color: rgb(189, 242, 255);
	border: 5px solid rgb(255, 255, 255);
	border-radius: 20px 20px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;

	-webkit-animation-name: animatetop;
  	-webkit-animation-duration: 0.4s;
  	animation-name: animatetop;
  	animation-duration: 0.4s
}

/* Close Button inside modal dialog*/
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 26px;
	overflow: hidden;
	background-color: rgb(0, 153, 224);
	text-align: center;
	border-radius: 20px 20px;
	border: 5px solid black;
	list-style-type: none;
	z-index: -1;
}

.contact{
	padding: 5px;
	color: rgb(255, 255, 255);
	font-size: 11px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: bold;
}


.contact:hover{
	color: #ffef00;
}

#Game{
	background-color:#181818;
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
	width: 100%;
	height: 100%;
	margin-top: 52px;
	
}

#canvas{
	width: 502px;
	height: 502px;
	background-color: rgb(0, 0, 0);
	border:solid rgb(25, 86, 165) 30px;
}

* {
	box-sizing: border-box;
  }


  .menu {
	width:25%;
	height: 502px;
	text-align:center;
	top:0;
	bottom: 0;
	float: left;
	padding: 20px;
	background-color:#181818;
	/* border:dotted rgb(185, 185, 185); */

  }
  
  .menu a {
	color:rgb(255, 255, 255);
	font-size: 14px;
	text-align:center;
	font-weight: bold;
	background-color:#181818;
	

  }
  .main {
	text-align: center;
	float: left;
	width:50%;
	border-color: rgb(0, 0, 0);
	background-color:#181818;;
	height: 502px;

  }

  .exp{
	  padding-left: 40px;
  }

  #anotherfont1, .exp{
	font-family: 'Noto Sans JP', sans-serif;
	color:rgb(255, 255, 255);
  }

  #anotherfont2{
	font-family: 'Press Start 2P', cursive;
  }

  #show5point, #show15point, #show25point{
	width: 40px;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	border-radius: 20px;
	height: 15px;
  }



  .button{
	color:rgb(255, 255, 255);
	font-size:15px;
	text-decoration:none;
	background-color:#FFA12B;
	padding:7px 5px;
	margin: 5.2px;
	width: 90px;
	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-shadow: 0px 1px 0px rgb(0, 0, 0);
	filter: dropshadow(color=rgb(0, 0, 0), offx=0px, offy=1px);
	
	-webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
	-moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
	box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  }

 
  .button:hover{
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
  	background-color: #F78900;
	border: solid black;
	border-width: 2px;
  }

  .life{
	float: left;

  }

  /*sound*/

  /* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider of sound */
  .sliderSound {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .sliderSound:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .sliderSound {
	background-color: #FFA12B;
  }
  
  input:focus + .sliderSound {
	box-shadow: 0 0 1px #FFA12B;
  }
  
  input:checked + .sliderSound:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .sliderSound.round {
	border-radius: 34px;
  }
  
  .sliderSound.round:before {
	border-radius: 50%;
  }


